body {
  background-color: white;
  font-family: Work Sans, Arial, sans-serif;
}
h1 {
  font-size: 32px;
  color: #333;
  font-weight: 300;
  color: #00b39b;
}
.header-content {
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.nav-list {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
  margin-right: 200px;
}
.nav-list li {
  display: inline;
  margin-right: 20px;
}
.fulllogo{
  width: 280px;
  height: auto;
  margin-right: 20px;
  margin-left: 200px;
}
.logo-area {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.logo-area-image {
  width: 40px;
  height: auto;
  margin-bottom: 10px;
}
.logo-area-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-area-content-text{
  width: 400px;
  height: auto;
  text-align: center;
  font-weight: 300;
  margin-right: 20px;
}